[submodule "engine/src/vendor/msdf-atlas-gen"]
	path = engine/src/vendor/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen
[submodule "engine/src/vendor/cglm"]
	path = engine/src/vendor/cglm
	url = https://github.com/recp/cglm
[submodule "engine/vendor/msdf-atlas-gen"]
	path = engine/vendor/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen
[submodule "engine/vendor/tracy"]
	path = engine/vendor/tracy
	url = https://github.com/wolfpld/tracy
	branch = v0.13.1
